<div
  class="container"
  fxLayout="row"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="10px"
>
  <mat-card *ngIf="dish" fxFlex>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>
        <h3>{{ dish.name | uppercase }}</h3>
      </mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      src="{{ BaseURL + dish.image }}"
      alt="{{ dish.name }}"
    />
    <mat-card-content>
      <p>{{ dish.description }}</p>
    </mat-card-content>
  </mat-card>
  <div fxFlex [hidden]="dish">
    <mat-spinner></mat-spinner>
    <h4>Loading ... please wait</h4>
  </div>

  <mat-card *ngIf="promotion" fxFlex>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>
        <h3>{{ promotion.name | uppercase }}</h3>
      </mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      src="{{ BaseURL + promotion.image }}"
      alt="{{ promotion.name }}"
    />
    <mat-card-content>
      <p>{{ promotion.description }}</p>
    </mat-card-content>
  </mat-card>
  <div fxFlex [hidden]="promotion">
    <mat-spinner></mat-spinner>
    <h4>Loading ... please wait</h4>
  </div>

  <mat-card *ngIf="featuredLeader" fxFlex>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>
        <h3>{{ featuredLeader.name | uppercase }}</h3>
      </mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      src="{{ BaseURL + featuredLeader.image }}"
      alt="{{ featuredLeader.name }}"
    />
    <mat-card-content>
      <p>{{ featuredLeader.description }}</p>
    </mat-card-content>
  </mat-card>
  <div fxFlex [hidden]="featuredLeader">
    <mat-spinner></mat-spinner>
    <h4>Loading ... please wait</h4>
  </div>
</div>
